.share
  .fb-like data-href='' data-send="false" data-layout="button_count" data-show-faces="false"
  a href="https://twitter.com/share" class="twitter-share-button tw-like" data-lang="pt" data-url=request.url Tweetar

